################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Assesment/FileContentIndex
/.vs/Assesment
/.vs/OrderManagementSystem/FileContentIndex
